/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Francois One', sans-serif;
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
}

.game {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 375px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: white;
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
