:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
}

.user {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.user img {
  height: 100%;
  width: 100%;
  display: block;
}

.room {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: lighter;
  color: rgba(0,0,0,0.5);
  font-size: 1.2em;
}

.half {
  flex: 1;
}

.card p {
  font-size: 2em;
  color: white;
  margin: 30px 27px;
}

.scrollbox {
	overflow: auto;
	max-height: 300px;

	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 100%) 0 100%,

		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

.leaderboard {
  width: 100%;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cards-remaining {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #3498db;
  margin-top: 20px;
  z-index: 10;
  position: relative;
  box-shadow: none;
}

.cards-remaining-instructions {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: -60px;
  padding-top: 20px;
  z-index: 9;
  background-color: #000;
  position: relative;
}

.checking {
  background-color: #e67e22;
}

.winner {
  background-color: #2ecc71;
}

.cards-remaining-instructions h4 {
  margin-top: 45px;
  margin-bottom: 0px;
  display: inline-block;
}

.leaderboard h4 {
  font-size: 1.8em;
  width: 100%;
  margin: 5px;
  text-align: center;
  font-weight: lighter;
}

.leaderboard .splitter {
  height: 1px;
  background-color: rgba(0,0,0,0.7);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.player-status {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  font-size: 1.3em;
  margin-top: 10px;
  border-bottom: 1px solid #000;
}

.player-status .player-points {
  font-weight: bolder;
}

.footer {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgba(0,0,0,0.7);
  font-weight: lighter;
  margin-bottom: 10px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 2.3em;
  height: 2.3em;
}
.loader {
  display: inline-block;
  margin-top: 47px;
  margin-left: 10px;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.4em solid rgba(255, 255, 255, 0.2);
  border-right: 0.4em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
  border-left: 0.4em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
