<div class="user">
  <a href="#"><img src="../assets/user.png"></a>
</div>
<div class="room">
  Room: EIF76J
</div>
<div class="half">
  <h1 style="font-size: 3.9em; width: 100%; text-align: center; margin: 10px 0 -10px">Disrespect</h1>
  <h2 style="width: 100%; text-align: center; margin: 0px;">BECAUSE NO ONE LIKES YOU</h2>
  <div *ngIf="(status | async)=='waitingCards'" class="cards-remaining card">
    <h3>0 of 1 Cards Submitted</h3>
  </div>
  <div *ngIf="(status | async)=='waitingCards'" class="cards-remaining-instructions card">
    <h4>Waiting for cards...</h4><div class="loader">Loading...</div>
  </div>
  <div *ngIf="(status | async)=='selecting'" class="cards-remaining checking card">
    <h3>All cards submitted</h3>
  </div>
  <div *ngIf="(status | async)=='selecting'" class="cards-remaining-instructions card">
    <h4>User Selecting Winner...</h4><div class="loader">Loading...</div>
  </div>
  <div *ngIf="(status | async)=='winner'" class="cards-remaining winner card">
    <h3>User wins this round!</h3>
  </div>
  <div *ngIf="(status | async)=='winner'" class="cards-remaining-instructions card">
    <h4>Good Job Dummy</h4>
  </div>
  <div class="leaderboard scrollbox">
    <h4>Leaderboard</h4>
    <div class="splitter"></div>
    <div class="player-status">
      <span class="player">Keegan</span><span class="player-points">3</span>
    </div>
    <div class="player-status">
      <span class="player">Talitha</span><span class="player-points">2</span>
    </div>
    <div class="player-status">
      <span class="player">Jarid</span><span class="player-points">0</span>
    </div>
    <div class="player-status">
      <span class="player">Natarsha</span><span class="player-points">0</span>
    </div>
  </div>
</div>
<div class="game half">
  <div class="card">
    <p>{{question | async}}</p>
  </div>
</div>
<div class="footer">
  Made with <b style="color: rgba(255,0,0,0.7); margin: 0 6px;">♥</b> by your mum's a hoe
</div>
<router-outlet></router-outlet>
